<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <title>Tarefas</title>
</head>

<body>
    <!-- Modal -->
    <div class="modal fade" id="modalTarefa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova Tarefa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="novaTarefa">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="nomeTarefa">Nome da Tarefa</label>
                            <input type="text" class="form-control" id="nomeTarefa" placeholder="Nome da Tarefa">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-dark" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEditarTarefa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Tarefa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formEditarTarefa">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nomeTarefa">Nome da Tarefa</label>
                            <input type="text" class="form-control" id="nomeNovaTarefa" placeholder="Nome da Tarefa">
                            <input type="hidden" class="form-control" id="idTarefa">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-dark" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h4 class="card-title text-center">Tarefas</h4>
                        <hr>
                        <button class="btn btn-dark" id="btnNovaTarefa" data-toggle="modal"
                            data-target="#modalTarefa">Nova Tarefa</button>
                        <a class="btn btn-dark" href="Cadastro.html">Novo Usuário</a>
                        <br />
                        <br />
                        <table class="table" id="tableTarefas">
                            <thead>
                                <th>id</th>
                                <th>status</th>
                                <th class="text-center">Concluído</th>
                                <th>Título</th>
                                <th>Ações</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script>
        $(document).ready(function () {
            desenharTabela();

        });

        function desenharTabela() {
            tabela = $("#tableTarefas").DataTable({
                "language": {
                    "url": "http://cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                },
                "aoColumns": [{
                    "sName": "id",
                    "bVisible": false
                },
                {
                    "sName": "status",
                    "bVisible": false
                },
                {
                    "className": "dt-body-center",
                    "sName": "ticar"
                },
                {
                    "sName": "nome"
                },
                {
                    "sName": "acoes"
                }],
                "rowCallback": function (row, data, index) {
                    if (data[1] == 1) {

                        $(row).addClass('bg-secondary');
                    }




                }
            });
            listarTarefas();

        }

        function listarTarefas() {
            var usuarioLogado = 1
            $.ajax({
                processData: true,
                type: 'GET',
                url: 'http://localhost:5000/api/Tarefa/Listar?idUsuario=' + usuarioLogado,
                async: true,
                cache: false,
                dataType: 'json',
                success: function (data) {
                    tabela.clear().draw();

                    $.each(data, function (i, item) {
                        if (item.status == 1) {
                            var checkbox = '<input type="checkbox" class="center check" checked="true" value="" idTarefa="' + item.id + '">';
                            $(tabela.row).addClass('bg-dark');
                        } else {
                            var checkbox = '<input type="checkbox" class="center check" value="" idTarefa="' + item.id + '">';
                        }

                        tabela.row.add([
                            item.id,
                            item.status,
                            checkbox,
                            item.nome,
                            '<button class="btn btn-dark btnEditar" idTarefa="' + item.id + '" nome="' + item.nome + '" data-toggle="modal"  data-target="#modalEditarTarefa">Editar</button> <a href="#" link="http://localhost:5000/api/Tarefa/Deletar?id=' + item.id + '" class="btn btn-danger btnExcluir">Excluir</a>'
                        ]).draw(false);


                    });
                },
                error: function () {
                    swal("Ocorreu um erro", "Ocorreu um erro ao tentar carregar as Tarefas", "error");
                }
            });
        }

        $("#novaTarefa").submit(function (e) {
            var form = $("#novaTarefa");
            var usuarioLogado = 1;
            $.post("http://localhost:5000/api/Tarefa/NovaTarefa", { nome: $("#nomeTarefa").val(), idUsuario: usuarioLogado })
                .done(function (data) {
                    $('#modalTarefa').modal('hide')
                    swal({
                        title: 'Tarefa criada com sucesso!',
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    }).then(function (result) {
                        listarTarefas();
                    })
                });
            e.preventDefault();
        })

        $('#modalTarefa').on('hidden.bs.modal', function (e) {
            $("#nomeTarefa").val("");
        })

        $(document).on('click', '.btnExcluir', function (e) {
            var link = $(this).attr("link");
            swal({
                title: "Realmente deseja excluir essa Tarefa?",
                text: "A Tarefa será excluida!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then(function (willDelete) {
                    if (willDelete) {

                        $.get(link, function () {
                        })
                            .done(function () {
                                swal("Tarefa deletada com sucesso!", {
                                    icon: "success",
                                });
                                listarTarefas();
                            })
                            .fail(function () {
                                swal("Erro ao excluir Tarefa", {
                                    icon: "error",
                                });
                            });

                    }
                });
        });

        $(document).on('click', '.btnEditar', function (e) {
            var nome = $(this).attr("nome");
            var idTarefa = $(this).attr("idTarefa");
            $("#nomeNovaTarefa").val(nome);
            $("#idTarefa").val(idTarefa);
        });


        $("#formEditarTarefa").submit(function (e) {
            var idTarefaEditar = $("#idTarefa").val();
            $.post("http://localhost:5000/api/Tarefa/Editar", { nome: $("#nomeNovaTarefa").val(), id: idTarefaEditar })
                .done(function (data) {
                    $('#modalEditarTarefa').modal('hide')
                    swal({
                        title: 'Tarefa editada com sucesso!',
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Ok'
                    }).then(function (result) {
                        listarTarefas();
                    })
                });
            e.preventDefault();
        })



        $(document).on('click', '.check', function (e) {
            var thisCheck = $(this);
            var idTarefa = $(this).attr("idTarefa");
            if (thisCheck.is(':checked')) {
                $.get("http://localhost:5000/api/Tarefa/Ticar", { id: idTarefa })
                    .done(function (data) {
                        listarTarefas();
                    });
            } else {
                $.get("http://localhost:5000/api/Tarefa/RemoveTicar", { id: idTarefa })
                    .done(function (data) {
                        listarTarefas();
                    });
            }
        });






    </script>
</body>

</html>